.auth-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px 0;

  background: rgba(10, 10, 10, 0.55);
  border-bottom: 1px solid rgba(0, 255, 102, 0.25);
  backdrop-filter: blur(12px);

  z-index: 900;
}

.auth-header-content {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo inspirado en tu navbar */
.auth-logo {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo-text {
  color: white;
}

.logo-dot {
  color: #00ff66;
  margin: 0 4px;
}

.logo-text2 {
  color: #00ff66;
}

/* NAV LINKS */
.auth-nav {
  display: flex;
  gap: 24px;
}

.auth-link {
  color: #e9e9e9;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 4px;
  position: relative;
  transition: 0.25s ease;
}

.auth-link:hover {
  color: #00ff66;
}

.auth-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #00ff66;
  border-radius: 6px;
  transition: width 0.3s ease;
}

.auth-link:hover::after {
  width: 100%;
}
