html, body, #root {
  width: 100%;
  height: 100%;
  overflow-x: hidden;   /* evita scroll horizontal indeseado */
  overflow-y: auto;     /* asegura que el documento pueda desplazarse verticalmente */
  box-sizing: border-box;
  scroll-behavior: smooth;
}
* { box-sizing: inherit; }

:root {
  --bg-color: #000;
  --text-color: #0f0;
  --card-bg: #111;
  --accent: #00ff66;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--accent);
  text-decoration: none;
}

button {
  background-color: var(--accent);
  border: none;
  color: #000;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #00cc55;
}

input {
  background-color: #111;
  border: 1px solid var(--accent);
  color: var(--text-color);
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  margin-top: 8px;
}

/* Custom scrollbar (WebKit) */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.18); /* oscuro, semi-transparente */
  border-radius: 12px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(0,255,102,0.28), rgba(0,255,102,0.12));
  border-radius: 12px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,255,102,0.28) rgba(0,0,0,0.18);
}
